/* css styles */

#quarto-content .about-contents {
  text-align: center;
}

.quarto-about-jolla h1.title,
.quarto-about-jolla .description {
  text-align: center;
}

.navbar-brand img {
  height: 75px;
  max-height: 75px;
}

#right-margin-image {
  display: none;
  position: fixed;
  right: 20px;
  top: 200px;
  width: 160px;
  z-index: 100;
}

#right-margin-image img {
  width: 100%;
  border-radius: 8px;
}

@media (min-width: 1000px) {
  #right-margin-image {
    display: block;
  }
}
